<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/pure-min.css}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <title>Spring Boot Quartz Demo Application</title>
</head>
<body>
<h1>Quartz Demo</h1>
<a onClick="window.location.reload()">Refresh page</a>

<h2>Scheduler Status</h2>
<form class="pure-form pure-form-aligned">
    <div class="pure-control-group">
        <label for="instanceName">InstanceName:</label>
        <span id="instanceName" th:text="${instanceName}"/>
    </div>
    <div class="pure-control-group">
        <label for="instanceWaitMillis">Instance Wait ms:</label>
        <span id="instanceWaitMillis" th:text="${instanceWaitMillis}"/>
    </div>
    <div class="pure-control-group">
        <label for="isInStandby">Instance is in Standby:</label>
        <span id="isInStandby" th:text="${isInStandby}"/>
    </div>
</form>

<div class="pure-g">
    <div class="pure-u-1-2">
        <form action="#" th:action="@{/scheduler/standby}" method="post" class="pure-form pure-form-aligned">
            <div class="pure-control-group">
                <span>Standby</span>
                <input type="submit" value="Enable Standby">
            </div>
        </form>
    </div>
    <div class="pure-u-1-2">
        <form action="#" th:action="@{/scheduler/resume}" method="post" class="pure-form pure-form-aligned">
            <div class="pure-control-group">
                <span>Resume</span>
                <input type="submit" value="Resume Standby" />
            </div>
        </form>
    </div>
</div>

<div class="pure-g">
    <div class="pure-u-1-3">
        <h2>create Job</h2>
        <form action="#" th:action="@{/scheduler/job}" method="post" class="pure-form pure-form-aligned">
            <div class="pure-control-group">
                <label for="jobName">create Jobs:</label>
                <input id="jobNAme" type="submit" value="go!"/>
            </div>
        </form>
    </div>
    <div class="pure-u-2-3">
        <table>
            <tr>
                <th>Job-Key</th>
                <th>Description</th>
                <th>Trigger Infos:<br>
                    <ul>
                        <li>start time</li>
                        <li>state</li>
                        <li>schedule</li>
                    </ul>
                </th>
            </tr>
            <tr th:each="job : ${jobs}">
                <td th:text="${job.key}"></td>
                <td th:text="${job.description}"></td>
                <td>
                    <ul th:each="triggerInfo : ${job.triggerInfos}">
                        <li th:text="${triggerInfo.startTime}"></li>
                        <li th:text="${triggerInfo.state}"></li>
                        <li th:text="${triggerInfo.schedule}"></li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>
