<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/pure-min.css}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <title>Spring Boot Quartz Demo Application</title>
</head>
<body>
<h1>Quartz Cluster Demo</h1>

<h2>Instance Scheduler Information</h2>
<form class="pure-form pure-form-aligned">
    <div class="pure-control-group">
        <label for="instanceName">Name:</label>
        <span id="instanceName" th:text="${instanceName}"/>
    </div>
    <div class="pure-control-group">
        <label for="instanceWaitMillis">Wait ms:</label>
        <span id="instanceWaitMillis" th:text="${instanceWaitMillis}"/>
    </div>
    <div class="pure-control-group">
        <label for="isInStandby">Standby:</label>
        <span id="isInStandby" th:text="${isInStandby}" th:class="${isInStandby ? 'standbyTrue' : 'standbyFalse'}"/>
    </div>
</form>

<div class="pure-g">
    <div class="pure-u-1-1">
        <h2>Scheduler and Job Control Center</h2>
        <form action="#" th:action="@{/scheduler/standby}" method="post" class="pure-form pure-form-aligned">
            <div class="pure-control-group">
                <label>Standby</label>
                <input type="submit" value="Enable Standby">
            </div>
        </form>

        <form action="#" th:action="@{/scheduler/resume}" method="post" class="pure-form pure-form-aligned">
            <div class="pure-control-group">
                <label>Resume</label>
                <input type="submit" value="Resume Standby" />
            </div>
        </form>

        <form action="#" th:action="@{/scheduler/concurrent-job}" method="post" class="pure-form pure-form-aligned">
            <div class="pure-control-group">
                <label>create Jobs:</label>
                <input type="submit" value="go!"/>
            </div>
        </form>

        <form action="#" th:action="@{/scheduler/non-concurrent-job}" method="post" class="pure-form pure-form-aligned">
            <div class="pure-control-group">
                <label>create Non-Concurrent Jobs:</label>
                <input type="submit" value="go (NC)!"/>
            </div>
        </form>

        <form action="#" th:action="@{/triggers/standby}" method="post" class="pure-form pure-form-aligned">
            <div class="pure-control-group">
                <label>Pause ALL Triggers:</label>
                <input type="submit" value="Triggers stop!"/>
            </div>
        </form>

        <form action="#" th:action="@{/triggers/resume}" method="post" class="pure-form pure-form-aligned">
            <div class="pure-control-group">
                <label>Resume ALL Triggers:</label>
                <input type="submit" value="Triggers continue!"/>
            </div>
        </form>
    </div>
</div>


<div class="pure-g">
    <div class="pure-u-1-1">
        <a onClick="window.location.reload()">Refresh page</a>
    </div>
    <div class="pure-u-1-1">
        <table class="jobs">
            <tr>
                <th>Job-Key</th>
                <th>Description</th>
                <th>Ran on</th>
                <th>Trigger Information<br>
                    <ul>
                        <li>Start time</li>
                        <li>State</li>
                        <li>Schedule</li>
                    </ul>
                </th>
                <th>Disallow Concurrent</th>
            </tr>
            <tr th:each="job : ${jobs}">
                <td th:title="${job.key}" th:text="${#strings.substring(job.key,job.key.length()-13,job.key.length())}"></td>
                <td th:text="${job.description}"></td>
                <td th:text="${job.executedOnInstance}"></td>
                <td>
                    <ul th:each="triggerInfo : ${job.triggerInfos}">
                        <li th:text="${#dates.format(triggerInfo.startTime, 'dd.MM.yyyy HH:mm:ss')}"></li>
                        <li th:text="${triggerInfo.state}"></li>
                        <li th:text="${triggerInfo.schedule}"></li>
                    </ul>
                </td>
                <td th:text="${job.disallowConcurrentExecution}"></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>
