<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/pure-min.css}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <title>Spring Boot Quartz Demo Application</title>
</head>
<body>
<h1>Quartz Cluster Demo</h1>

<h2>Instance Scheduler Information</h2>
<div class="pure-g">
    <div class="pure-u-4-24">
        Name: <b th:text="${instanceName}"/>
    </div>
    <div class="pure-u-4-24">
        Wait ms: <b th:text="${instanceWaitMillis}"/>
    </div>
    <div class="pure-u-8-24">
        Scheduler Standby: <span th:text="${isInStandby}" th:class="${isInStandby ? 'standbyTrue' : 'standbyFalse'}"/>
        <form th:if="${!isInStandby}" action="#" th:action="@{/scheduler/standby}" method="post" class="floatingForm">
            <input type="submit" value="Enable Standby">
        </form>

        <form th:if="${isInStandby}" action="#" th:action="@{/scheduler/resume}" method="post" class="floatingForm">
            <input type="submit" value="Resume Standby" />
        </form>
    </div>
    <div class="pure-u-8-24">
        Triggers Paused: <span th:text="${triggersPaused}" th:class="${triggersPaused ? 'triggersPausedTrue' : 'triggersPausedFalse'}"/>
        <form th:if="${!triggersPaused}" action="#" th:action="@{/triggers/standby}" method="post" class="floatingForm">
            <input type="submit" value="Pause ALL Triggers!"/>
        </form>

        <form th:if="${triggersPaused}" action="#" th:action="@{/triggers/resume}" method="post" class="floatingForm">
            <input type="submit" value="Resume ALL Triggers!"/>
        </form>
    </div>
</div>

<h2>Job Control Center</h2>
<div class="pure-g">
    <div class="pure-u-1-4">
        <a onClick="window.location.reload()">Refresh page</a>
    </div>
    <div class="pure-u-1-4">
        <form action="#" th:action="@{/scheduler/concurrent-job}" method="post" class="pure-form pure-form-aligned">
            <input type="submit" value="create concurrent Job!"/>
        </form>
    </div>
    <div class="pure-u-1-4">
        <form action="#" th:action="@{/scheduler/non-concurrent-job}" method="post" class="pure-form pure-form-aligned">
            <input type="submit" value="create Non-Concurrent Job!"/>
        </form>
    </div>
    <div class="pure-u-1-4">
        <form action="#" th:action="@{/orders}" method="post" class="pure-form pure-form-aligned">
            <input type="submit" value="Order 66! (create order and trigger)"/>
        </form>
    </div>
</div>

<div class="pure-g">
    <div class="pure-u-1-1">
        <h2>Jobs and Triggers</h2>
        <table class="jobs">
            <tr>
                <th>Job-Key</th>
                <th>Description</th>
                <th>Ran on</th>
                <th>Trigger Information<br>
                    <ul>
                        <li>Start time</li>
                        <li>State</li>
                        <li>Schedule</li>
                    </ul>
                </th>
                <th>Disallow Concurrent</th>
            </tr>
            <tr th:each="job : ${jobs}">
                <td th:title="${job.key}" th:text="${#strings.substring(job.key,job.key.length()-13,job.key.length())}"></td>
                <td th:text="${job.description}"></td>
                <td th:text="${job.executedOnInstance}"></td>
                <td>
                    <ul th:each="triggerInfo : ${job.triggerInfos}">
                        <li th:text="${#dates.format(triggerInfo.startTime, 'dd.MM.yyyy HH:mm:ss')}"></li>
                        <li th:text="${triggerInfo.state}"></li>
                        <li th:text="${triggerInfo.schedule}"></li>
                    </ul>
                </td>
                <td th:text="${job.disallowConcurrentExecution}"></td>
            </tr>
        </table>
    </div>

    <hr>

    <div class="pure-u-1-1">
        <h2>Orders</h2>
        <table class="orders">
            <tr>
                <th>Id</th>
                <th>state</th>
                <th>created</th>
                <th>started</th>
                <th>completed<br>
                <th>comment</th>
            </tr>
            <tr th:each="order : ${orders}">
                <td th:title="${order.id}" th:text="${#strings.substring(order.id,order.id.length()-6,order.id.length())}"></td>
                <td th:text="${order.state}"></td>
                <td th:text="${#dates.format(order.createdAt, 'dd.MM.yyyy HH:mm:ss')}"></td>
                <td th:text="${#dates.format(order.startedAt, 'dd.MM.yyyy HH:mm:ss')}"></td>
                <td th:text="${#dates.format(order.completedAt, 'dd.MM.yyyy HH:mm:ss')}"></td>
                <td th:text="${order.comment}"></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>
